@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.anchor , .mouse-more{
  writing-mode: vertical-lr;
}

.section-text{
  -webkit-text-stroke: 2px #001f3f;
  text-stroke: 2px black;
  color: transparent;
  font-size: 50px;
  letter-spacing: 2px;
}